<p id="notice"></p>
<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      <h2>User info</h2>
      
      <table class="table">
        <tbody>
          <tr>
            <th scope="col">name</th>
            <th scope="col"><%= user.name %></th>
          </tr>
          <tr>
            <th scope="col">introduction</th>
            <th scope="col"><%= user.introduction %></th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
  